<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="weatherinfo" translate="label" type="text" sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="1" >
            <label>Weather Info</label>
            <tab>sales</tab>
            <resource>Elogic_WeatherInfo::weatrherinfo</resource>
            <group id="general" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Weather Info</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="api_url" type="text" sortOrder="20" showInDefault="0" showInWebsite="0" showInStore="0" >
                    <label>API Url</label>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                    <comment>Example: https://api.openweathermap.org/</comment>
                </field>
                <field id="city_code" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" >
                    <label>City code</label>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                    <comment>Note format: city, country. City/code list can be found on openweathermap.org</comment>
                </field>
            </group>
            <group id="debug" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Debug</label>
                <field id="debug" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Debug</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
